.App {
  text-align: center;
  background-color:#16262E
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
label{
  justify-content: space-evenly;
}
.sleep-container{
  display:flex;
  flex-direction: column;
  align-items:center;
}
nav{
  display:flex;
  justify-content: space-evenly;
}



